node_modules
dist
build
.cache
.DS_Store
.env
.env.local
.env.*.local
coverage
tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode
.idea
.cursor

# CDK
infra/cdk/cdk.out

# Docker
*.log

